RewriteEngine On

# Permitir acesso direto a arquivos estáticos
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirecionar todas as outras requisições para o Node.js
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]

# Tipos MIME
AddType application/javascript .js
AddType text/css .css

# Headers de cache para arquivos estáticos
<FilesMatch "\.(js|css|jpg|jpeg|png|gif)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch> 